header {
    background-color: orange;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header .titre {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: green;
    width: 100%;
}

