table, th, tr, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

.colonne1 {
    background-color: gray;
}

.collapse {
    border-collapse: separate;
    border-color: red;
}

.stats {
    justify-self: center;
}

header {
    width: 100%;
}

header h1 {
    justify-content: center;
}

.realisateurs_container {
    display: flex;
    margin: 50px;
    width: 80%;
    height: 500px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 15px;
}

.realisateur {
    width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 15px;
}

.realisateur_name {
    font-weight: bold;
    font-size: 20px;
}

.realisateur_info {
    font-size: 18px;
}