header h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    background-color: #f6f6f6;
    margin-left: auto;
    margin-right: auto;
}

table caption {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.header_table th {
    background: #999999;
    color: white;
    border-radius: 0;
    top: 0;
    padding: 10px;
}

table, th, td {
    border: 1px solid white;
    font-family: Verdana, sans-serif;
}

th {
    padding: 10px;
    color: black;
}

.colonne1 {
    background-color: gray;
}

.collapse {
    border-collapse: separate;
    border-color: red;
}

.stats {
    justify-self: center;
}

header {
    width: 100%;
}

header h1 {
    justify-content: center;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header button {
    background-color: #81DAFF;
    height: 30px;
    width: 100px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    border-radius: 3px;
    margin: 10px;
}


.data_retrieved {
    color: white;
    border-color: white;
    border-collapse: collapse;
    border-width: 2px;
    width: 100%;
}

.phishing {
    flex-direction: column;
    justify-content: center;
}

.catfishing {
    flex-direction: column;
    justify-content: center;
}

.catfishing h2 {
    font-family: Verdana, sans-serif;
    color: white;
}

.morals {
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.realisateurs_container {
    display: flex;
    margin: 20px auto 50px auto;
    width: 80%;
    height: 500px;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.realisateur {
    width: 300px;
    height: fit-content;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 15px;
}

.realisateur_name {
    font-weight: bold;
    font-size: 20px;
}

.realisateur_info {
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    z-index: 9;
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}