body {
    font-family: sans-serif;
    justify-content: center;
    display: flex;
}

.my_video {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    position: fixed;
}

.form_sign-up {
    width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
    z-index: 9;
    position: absolute;
    margin-top: 190px;
}

.form_sign-up h1 {
    color: #1C8ADB;
    margin-bottom: 30px;
}

.input-area {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.sign-up_button {
    background-color: #1C8ADB;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    z-index: 9;
}

footer a {
    text-decoration: none;
}