body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../assets/Home/fond.jpg");
    background-size: cover;
    background-position: center;
}

.form_sign-up {
    width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 15px;
}

.form_sign-up h1 {
    color: #1C8ADB;
    margin-bottom: 30px;
}

.input-area {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.sign-up_button {
    background-color: #1C8ADB;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
}