.main-title {
    text-align: center;
    color: firebrick;
    font-family: Calibri, serif;
    font-weight: bold;
}

.sub-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-family: Calibri, serif;
    box-shadow: 0 0 40px yellow;
}

.title2 {
    text-align: center;
    font-family: Calibri, serif;
}

header {
    background-image: url("../assets/Phishing/confettis.png");
}

.form_iphone {
    width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    z-index: 9;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Calibri, serif;
}

.form_sign-up h1 {
    color: #1C8ADB;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.input-area {
    border-radius: 20px;
    padding: 10px;
    margin: 8px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

.input-area_small {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 60%;
    border: 1px solid #999;
    outline: none;
}

.input_name {
    margin-left: 5px;
    font-size: 18px;
}

.container_input_small {
    display: flex;
    flex-direction: column;
}

.input_small {
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.sign-up_button {
    background-image: url("../assets/Phishing/confettis.png");
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    color: black;
    width: 70%;
    padding: 7px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    margin: 9px 0;
    margin-left: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}

.comment_area {
    width: 100%;
    padding: 20px;
    font-family: Calibri, serif;
}

.comment_area_heading {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    border-bottom: 1px solid #E6ECF0;
    padding: 10px;
}

.comment:first-child {
    border-top: 1px solid #E6ECF0;
}

.comment_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_author_name {
    font-weight: bold;
    font-size: 19px;
    margin-left: 10px;
}

.comment_author_picture {
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

.comment_content {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.comment_title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4px;
}

.comment_text {

}

.new_comment {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.input_title {
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
}

.input_text {
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
}

.comment_button {
    border-radius: 10px;
    font-size: 18px;
    width: 150px;
}