.layout {
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1200px;
}

.layout_right-sidebar {
    width: 350px;
    position: fixed;
    margin-left: 10px;
}

.LogoPwitter {
    padding: 10px;
    width: 100px;
    height: auto;
}

.sidebar-menu {
    position: fixed;
}

.sidebar-menu_item {
    font-size: 19px;
    color: #0F141A;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
}

.sidebar-menu_item:hover {
    background: rgba(29, 161, 242, 0.1);
    color: #1DA0F2;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar-menu_item--active {
    color: #1DA0F2;
}

.sidebar-menu_item-icon {
    height: 26px;
    margin-right: 20px;
}

.sidebar-menu_item--active .sidebar-menu_item-icon {
    filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
}

.layout_main_home {
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
    margin-top: 90px;
}

.layout_main_home-heading {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 70px;
    padding-top: 15px;
    padding-left: 14px;
    background-color: white;
    width: 100%;
    align-items: center;
}

.my_profile_picture {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.home_heading_content {

}

.home_heading_info {
    display: flex;
}

.home_heading_name {
    padding-bottom: 2px;
}

.input_pweet {
    border: 2px solid #E6ECF0;
    height: 20px;
    width: 400px;
    margin-top: 4px;
    outline: none;
}

.pweet_button {
    margin-left: 20px;
    border-radius: 20px;
    background-color: #1DA0F2;
    height: 30px;
    padding: 6px;
}

#sidebar-deconnexion {
    margin-top: 40px;
}

.pweet {
    display: flex;
    border-bottom: 1px solid #E6ECF0;
    margin-bottom: 2px;
    padding: 10px 15px;
}

.pweet:first-child {
    border-top: 1px solid #E6ECF0;
}

.pweet_pub {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    border-bottom: 1px solid #E6ECF0;
    font-size: 15px;
    color: #0F141A;
    justify-content: center;
    padding-bottom: 5px;
}

.pweet_pub-message {
    font-weight: bold;
    font-size: 19px;
}

.pweet_pub a {
    text-decoration: none;
}

.pweet_pub-content {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.pweet_pub-image {
    max-width: 68px;
    height: auto;
    margin-right: 20px;
}

.pweet_pub:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.pweet:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.pweet a {
    color: #1B94E0;
    text-decoration: none;
}

.pweet a:hover {
    text-decoration: underline;
}

.pweet_author-logo {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.pweet_header {
    display: flex;
}

.pweet_author-name {
    font-size: 15px;
    font-weight: 700;
    color: #14171A;
    margin-right: 5px;
}

.pweet_author-at {
    color: #5B7080;
    font-size: 15px;
}

.pweet_publish-time {
    margin-left: 5px;
    color: #657786;
}

.pweet_image {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}

.explore_heading {
    font-weight: bold;
    font-size: 24px;
    color: #14171A;
    margin-left: 5px;
    margin-bottom: 20px;
}

#spider {
    margin-top: 5px;
}

.notification {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E6ECF0;
    border-left: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
    margin-bottom: 2px;
    padding: 10px 15px;
}

.notification:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.notification_logo {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification_info {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-text-outline: 1px;
}

.notification_content {
    font-size: 15px;
}

.notification_heading {
    font-weight: bold;
    font-size: 24px;
    color: #14171A;
    margin-left: 5px;
    margin-bottom: 20px;
}

.notification:first-child {
    border-top: 1px solid #E6ECF0;
}

.trends {
    background: #F5F8FA;
    border-radius: 15px;
    margin-bottom: 10px;
}

.trends_block {
    padding: 10px 15px;
    border-bottom: 1px solid #E6ECF0;
}

.trends_block:last-child {
    border-bottom: none;
}

.trends_heading {
    font-weight: bold;
    font-size: 19px;
    color: #14171A;
}

.trends_infos {
    font-weight: 300;
    font-size: 13px;
    color: #657786;
}

.trends_name {
    color: #14171A;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.follow {
    border-radius: 15px;
    background: #F5F8FA;
}

.follow_block {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #E6ECF0;
}

.follow_block:last-child {
    border-bottom: none;
}

.follow_author-logo {
    width: 49px;
    height: 49px;
    margin-right: 10px;
    border-radius: 50px;
}

.follow_author-name {
    font-weight: 700;
    font-size: 15px;
}

.follow_author-tag {
    color: #657786;
}

.follow_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.follow_heading {
    font-size: 19px;
    color: #14171A;
    font-weight: bold;
}

.follow_button {
    font-size: 16px;
    font-weight: 700;
    color: #1DA0F2;
    border: 1px solid #1DA0F2;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    justify-items: center;
    min-width: 68px;
}

.follow_button:hover {
    cursor: pointer;
    background: rgba(29, 161, 242, 0.1);
}

.follow_button_on {
    margin: auto;
}

.follow_button_off {
    margin: auto;
}

.layout_main_messages {
    width: 600px;
    height: 700px;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    border: 2px solid #E6ECF0;
}

.top_nav_chat {
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    align-items: center;
    border-bottom: 1px solid #E6ECF0;
    background-color: #E6ECF0;
}

.conversation_call {
    display: flex;
}

.conversation_person_picture {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}

.conversation_person {
    font-size: 21px;
    font-weight: bold;
    font-family: Calibri;
}

.phone_call {
    margin-right: 20px;
    width: 30px
}

.video_call {
    margin-right: 20px;
    width: 30px
}

.messages_area {
    width: 600px;
    max-height: 562px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-height: 562px;
    scrollbar-gutter: stable;
    padding-top: 10px;
}

.unknown_message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 15px;
}

.unknown_message_content {
    background-color: darkgrey;
    max-width: 330px;
    width: fit-content;
    height: auto;
    padding: 14px;
    border-radius: 25px;
    font-size: 17px;
    text-align: left;
}

.unknown_message_date_info {
    padding-left: 5px;
    padding-top: 2px;
    font-size: 15px;
    color: #657786;
}

.my_message {
    margin-left: auto;
    margin-right: 15px;
    max-width: 330px;
    width: fit-content;
    height: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.my_message_content {
    margin-left: auto;
    margin-right: 0px;
    background-color: #1DA0F2;
    max-width: 330px;
    width: fit-content;
    height: auto;
    padding: 14px;
    border-radius: 25px;
    font-size: 17px;
    text-align: center;
}

.my_message_date_info {
    margin-left: auto;
    margin-right: 0px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 15px;
    color: #657786;
}

.bottom_nav_chat {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    height: 50px;
    align-items: center;
    background-color: #E6ECF0;
}

.input_message_conversation {
    border-radius: 20px;
    width: 80%;
    height: 40px;
    outline: none;
}

.bottom_nav_chat_send {
    width: 45px;
    filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
}

.abonnement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #E6ECF0;
    border-right: 1px solid #E6ECF0;
    border-left: 1px solid #E6ECF0;
}

.abonnement_logo {
    width: 49px;
    height: 49px;
    margin-right: 10px;
    border-radius: 50px;
}

.abonnement_content {
    display: flex;
    flex-direction: column;
}

.abonnement_name {
    font-weight: 700;
    font-size: 15px;
}

.abonnement_tag {
    color: #657786;
}

.abonnement:first-child {
    border-top: 1px solid #E6ECF0;
}

.profile_heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 5px;
}

